.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards > ul > li {
    border: 1px solid var(--background-color);
    background-color: var(--background-color);
    position: relative;
}

.cards .cards-card-body {
    margin: 16px;
    margin: 0;
    position: absolute;
    background-color: var(--link-color);
    opacity: 0.8;
    bottom: 0;
    width: 100%;
    vertical-align: middle;
}

.cards .cards-card-body * {
    color: var(--background-color);
    text-align: center;
    font-size: var(--heading-font-size-s);
}

.cards .cards-card-body a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Arial Narrow', sans-serif;
}

.cards .cards-card-body p {
    display: none;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.cards-wrapper {
    margin: auto;
}

.default-content-wrapper {
    margin: auto;
}

.cards-wrapper .carousel-buttons {
    display: flex;
    align-items: center;
    border-left: 1px solid #999;
}

@media (min-width: 768px) {
    .cards-wrapper .carousel-buttons {
        display: none;
    }
}


.cards-wrapper .carousel-buttons .carousel-next,
.cards-wrapper .carousel-buttons .carousel-prev {
    height: 40px;
    width: 40px;
    border-color: #999;
}

.cards-wrapper .carousel-buttons .carousel-next::after {
    content: "";
    border:1px solid black;
    transform: rotate(-45deg);
    display: inline-block;
    height: 12px;
    top: -2px;
    position: relative;
}

.cards-wrapper .carousel-buttons .carousel-next::before {
    content: "";
    border:1px solid black;
    transform: rotate(45deg);
    top: 7px;
    left: 2px;
    display: inline-block;
    height: 12px;
    position: relative;
}

.cards-wrapper .carousel-buttons .carousel-prev::after {
    content: "";
    border:1px solid black;
    transform: rotate(45deg);
    display: inline-block;
    height: 12px;
    top: -2px;
    position: relative;
}

.cards-wrapper .carousel-buttons .carousel-prev::before {
    content: "";
    border:1px solid black;
    transform: rotate(-45deg);
    top: 7px;
    left: 2px;
    display: inline-block;
    height: 12px;
    position: relative;
}

.cards-wrapper .carousel-buttons::after {
    content: "";
    border-right: 1px solid #999;
    display: inline-block;
    height: 60px;
    position: absolute;
    left: 89px;
}

.cards.icons ul {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.cards.overlay .callout-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 90 166 / 90%);
    width: 100%;
    display: none;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height:100%
}

@media (min-width: 768px) {
    .cards.overlay li:hover .callout-overlay  {
        display:flex
    }
}

.cards.overlay .callout-overlay a {
    transition: width 250ms ease, background-color 250ms ease, border-color 250ms ease, color 250ms ease, padding 250ms ease, margin 250ms ease;
    background: #fff;
    border: 1px solid #e70e18;
    color: #e70e18;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: 700;
    line-height: 14px;
    margin: 0 0 20px;
    outline: 0;
    border-radius: 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: 12px;
    padding:12px 60px
}

.cards.icons .cards-card-body h3 a {
    color: var(--link-color);
}

.cards.overlay .callout-overlay a:hover {
    background: #e70e18;
    border-color: #e70e18;
    color: #fff;
    text-decoration: none
}

main .cards.icons ul::-webkit-scrollbar {
    display: none;
}

.cards.icons li {
  flex: 1 1 0px;
}

@media (max-width: 768px) {
    .cards.icons li {
        flex: 0 0 auto;
    }

    .cards.icons ul li {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100%;
        display: block;
        border-left: 1px solid #999;
        padding-left: 20px;
    }
}

.cards.icons .cards-card-image {
    max-width: 150px;
}

.cards.icons .cards-card-image img {
    object-fit: contain;
    height: 150px;
}

.cards-container {
    max-width: 1200px;
}

@media (max-width: 768px) {
    .cards-container {
        max-width: 100%;
    }
}

.cards.icons .cards-card-body {
    opacity: 1.0;
    position: relative;
    background-color: var(--background-color);
    text-align: left;
}

.cards.icons .cards-card-body h3 + p {
    display: block;
    color: var(--text-color);
    text-align: left;
    padding-right: 5px;
}

.cards.icons .cards-card-body h3 {
    text-align: left;
}

.cards.icons .cards-card-body a::after {
    content: "";
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid var(--link-hover-color);
    margin-left: 0.5em;
    margin-bottom: -0.2em;
    border-radius: 50%;
    background-position: 0.15em;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 32"><path fill="red" class="cls-1" d="M16.66,15.29l-6.9-7a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.43L14.54,16,8.35,22.28a1,1,0,0,0,0,1.43,1,1,0,0,0,1.41,0l6.9-7A1,1,0,0,0,16.66,15.29Z"></path></svg>');

}