.columns-wrapper {
  margin: 0 auto;
}

div.columns h2 {
  margin-top: 0;
}

@media (min-width: 900px) {
  div.columns > div {
    display: flex;
    flex-direction: row;
  }
}

div.columns > div > div {
  flex: 50%;
}

div.list > div > div {
  margin-bottom: 1em;
}

div.list p {
  margin-top: 0;
}

div.list > div > div:nth-child(1) {
  flex-shrink: 0;
  flex-basis: 150px;
}
