header > div {
  display: grid;
  grid-template: 'logo hamburger';
  max-height: var(--nav-height);
}

header > div > div.logo {
  grid-area: 'logo';
}

header > div > div.logo img {
  max-height: calc(var(--nav-height) - 8px);
  width: auto;
  margin: 4px;
}

header > div > a.nav-hamburger {
  grid-area: 'hamburger';
  display: block;
  z-index: 2;
}

header div.nav-hamburger-icon, 
header div.nav-hamburger-icon::before, 
header div.nav-hamburger-icon::after {
  display: block;
  height: 2px;
  margin: 2.5px;
  width: 25px;
  background-color: var(--text-color);
  position: relative;
  content: '';
  right: 0px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0px;
  border-radius: 2px;
  background-color: #505050;
  z-index: 2;
}

header div.nav-hamburger-icon {
  top: 20px;
}

header div.nav-hamburger-icon::before {
  top: 6px;
}

header div.nav-hamburger-icon::after {
  top: 8px;
}

header nav {
  display: none;
}

header nav[aria-expanded="true"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 1;
  padding: 5px;
}

header::after {
  content: "★ Honor being honorable ★";
  display: block;
  height: var(--nav-height);
  width: 100%;
  background-color: var(--overlay-background-color);
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
  /* vertical text alignment: center */
  line-height: var(--nav-height);
  font-weight: bold;
  font-size: var(--body-font-size-xs);
}