div .footer {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  div .footer {
    width: 750px;
  }
}
  
@media (min-width: 992px) {
  div .footer {
    width: 970px;
  }
}
  
footer {
  padding: 2rem;
  background-color: #f2f2f2;
  font-size: var(--body-font-size-xs);
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
}

footer ul li {
  margin: 5px;
}

footer ul a:link {
  color: var(--text-color);
  text-decoration: underline;
}

footer p a[href^="mailto:"] {
  font-size: var(--body-font-size-xxl);
  font-weight: bolder;
  display: block;
  color: var(--text-color);
  margin:10px;
}

footer p a:any-link {
  color: var(--text-color);
}

footer .footer p {
  margin: 0;
}

footer .footer a[href^="https://www.facebook.com/"] {
  color: transparent;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../../icons/facebook.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

footer .footer a[href^="https://www.instagram.com/"] {
  color: transparent;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../../icons/instagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

footer .footer a[href^="https://twitter.com/"] {
  color: transparent;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url(../../icons/twitter.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

footer ul:last-of-type {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

footer ul:last-of-type li {
  display: inline-block;
}