footer {
  width: 100vw;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: var(--body-font-size-xs);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  white-space: nowrap;
}

.footer div {
  padding: 16px;
}

.footer div:nth-child(2) :is(ul,p) {
  display: flex;
  gap: 8px;
  flex-direction: column;
  text-align: center;
}

.footer div:nth-child(2) ul li a {
  color: var(--text-color);
  text-decoration: underline;
}

.footer div:nth-child(2) p a[href^="mailto:"] {
  font-weight: bold;
  color: var(--text-color);
}

.footer div:nth-child(3) ul {
  list-style: none;
  display: flex;
  gap: 5px;
}

.footer div:nth-child(3) ul li {
  display: inline-flex;
}

.footer div:nth-child(3) ul li a {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
}

.footer a[href^="https://www.facebook.com/"] {
  background-image: url("../../icons/facebook.svg");
}

.footer a[href^="https://www.instagram.com/"] {
  background-image: url("../../icons/instagram.svg");
}

.footer a[href^="https://twitter.com/"] {
  background-image: url("../../icons/twitter.svg");
}

@media (min-width: 768px) {
  .footer div:nth-child(2) ul {
    flex-direction: row;
  }

  .footer div:nth-child(2) ul li:not(:last-of-type)::after {
    content: '|';
    font-size: 11px;
    color: var(--text-color);
    padding-left: 8px;
  }
}

@media (min-width: 992px) {
  .footer,
  .footer div:nth-child(2) p {
    flex-direction: row;
  }
}
