/* below the fold CSS goes here */

@media (min-width: 900px) {
  div.section:nth-of-type(2) {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}


div.section:nth-of-type(3) > .default-content-wrapper  {
    margin: 0 auto
}

div.section:nth-of-type(3) > .cards-wrapper  {
    margin: 0 auto
}