/* below the fold CSS goes here */

@media (min-width: 900px) {
  div.section:nth-of-type(2) {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    margin: 0 auto;
  }
}

main {
    text-align: center;
}

div.section {
    display: inline-block;
    text-align: left;
}
